/* COMMON */
body {
  color: #333;
  font-size: 16px; /* 대부분의 브라우저 16px부터 시작하지만 명시적으로 지정해주기 */
  font-weight: 400; /* 일반적 두께 */
  line-height: 1.4; /* 행간 */
  font-family: 'Nanum Gothic', sans-serif;
}
img {
  display: block;
}

/* HEADER */
header {
  background-color: royalblue;
}
header .inner {
  width: 1100px;
  height: 120px;
  margin: 0 auto;
  background-color: orange;
  position: relative;
}
header .logo {
  height: 75px; /* 로고 img 높이 */
  position: absolute; /* 부모요소 기준으로 '배치' */
  /* 위, 아래 기준점 잡아줌 */
  top: 0;
  bottom: 0;
  /* 지정해된 높이값(반드시 명시되어 있어야 함)과 top, bottom 기준점을 바탕으로 auto로 수직 margin 계산 */
  left: 0;
  margin: auto;
}
